{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
  "no-console": "off",
    "semi": [
      "error",
      "never"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
