# -*- mode: yaml -*-

---
parser: espree

env:

  # customizations
  node: true
  browser: true
  jasmine: true
  phantomjs: true
  jquery: true

extends: "airbnb"
