# -*- mode: shell-script -*-

# ignore duplicate and empty lines
export HISTCONTROL=ignoreboth
# save a reasonable amount of bash_history
export HISTSIZE=3000
# save history from simultaneous shells
shopt -s histappend
# save multiline cmds
shopt -s cmdhist
# ignore small spelling errors
shopt -s cdspell

export NO_COLOR="\[\033[0m\]"
export GREEN="\[\033[0;32m\]"
export RED="\[\033[0;31m\]"
export BLUE="\[\033[0;34m\]"
export CYAN="\[\033[0;36m\]"

# handle completion on ubuntu or other linux
if [ -f '/etc/bash_completion' ]; then
    source "/etc/bash_completion"
fi

# enable bash zsh completions added by brew formulae; no need to do this for zsh
#   as the zprezto completion module handles it
if which brew > /dev/null; then
    source "$(brew --prefix)/etc/bash_completion"
fi

bash_prompt() {
    # Turn the prompt symbol red if the user is root
    if [ $(id -u) -eq 0 ]; then
        USER_PRIV="$RED#$NO_COLOR"
    else
        USER_PRIV='$'
    fi
    # work around trailing newlines being swallowed by command substitution
    # http://stackoverflow.com/a/15184414/1163042
    # add newline only if non-null
    gp=$(git_prompt)
    [[ -n $gp ]] && gp=$gp$'\n'
    echo "${NEWLINE}$gp\u@\h $GREEN\w$NO_COLOR $USER_PRIV "
}
PROMPT_COMMAND='history -a; PS1="$(bash_prompt)"'
