# -*- mode: shell-script -*-

# env vars shared between bash and zsh
source "$HOME/.sh_env"

# exit if this is not an interactive shell
[ -z "$PS1" ] && return

# shared interactive shell setup
source "$HOME/.sh_rc"

# bash-specific setup
source "$HOME/.bash_setup"
