# -*- mode: shell-script -*-

# set up vars and shell for development

export PATH="/usr/local/heroku/bin:$PATH"
export PATH="/opt/miniconda3/bin:$PATH"
export WORKON_HOME="/opt/miniconda3/envs"

export FZF_DEFAULT_COMMAND='ag -g ""'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_DEFAULT_OPTS='--exact --multi --ansi --no-mouse'
alias fzh='ag --nofilename . ~/.zlogs | fzf --no-sort'

############ eval'd helper functions ############

# for z, f, and other nice helpers - https://github.com/clvv/fasd
if which fasd > /dev/null; then eval "$(fasd --init auto)"; fi

# lighter weight than rbenv - https://github.com/postmodern/chruby
if [[ -x "/usr/local/share/chruby" ]]; then
    source "/usr/local/share/chruby/chruby.sh"
    source "/usr/local/share/chruby/auto.sh"
fi

# source any .env file upon cd'ing
# https://github.com/kennethreitz/autoenv
if [[ -x "/usr/local/opt/autoenv/activate.sh" ]]; then
    source /usr/local/opt/autoenv/activate.sh
fi
