# -*- mode: shell-script -*-

export PATH="/usr/local/bin:$PATH"

# add paths from lowest to highest precedence
if [ -d '/usr/local/opt/coreutils' ]; then
    export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
    export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"
fi
export PATH="$HOME/bin:$PATH"

export NEWLINE=$'\n'

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

# load private env vars and config if this non vc'd file exists
[ -f "$HOME/.personal_env" ] && source "$HOME/.personal_env"
