# -*- mode: shell-script -*-

# env vars shared between bash and zsh
source "$HOME/.sh_env"

# exit if not in an interactive shell
if ! [[ -o interactive ]]; then return 0; fi

# Prezto
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
    source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# shared interactive shell setup
source "$HOME/.sh_rc"

# zsh-specific setup
source "$HOME/.zsh_setup"
