{
  "plugins": [
    "transform-react-jsx-source",
    "transform-class-properties"
  ],
  "rules": {
    "class-property/rule-name": 2
  },
  "presets": [
    "react"
  ]
}
